fastapi
uvicorn[standard]
databases[sqlite]
redis[asyncio]
rq
rq-scheduler
# required for slackbot
slack_sdk
httpx
psutil
python-dateutil
requests
typedb-driver==2.28.0
urllib3
pytz
pyyaml
bs4
jmespath